html
    head
        title=title
        meta(charset='utf-8')

        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/bootstrap-grid.min.css')
        link(rel='stylesheet' href='/css/bootstrap-reboot.min.css')

        script(type='application/javascript' src='/js/jquery-3.3.1.min.js')
        script(type='application/javascript' src='/js/bootstrap.bundle.min.js')
    body
        div(class='container')
            br
            div(class='row')
                div(class='col-md-2')
                div(class='col-md-8')
                    h1=`Error ${code}`
                    hr
                    p=msg
                div(class='col-md-2')
