html
    head
        title=`Upcoming meetups at (${lon}, ${lat}) +${radius} miles from ${from ? from : 'now'} to ${to ? to : 'next month'}`
        meta(charset='utf-8')

        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/bootstrap-grid.min.css')
        link(rel='stylesheet' href='/css/bootstrap-reboot.min.css')
        link(rel='stylesheet' href='/css/bootstrap-datetimepicker.min.css')
        link(rel='stylesheet' href='/css/style.css')

        script(type='application/javascript' src='/js/jquery-3.3.1.min.js')
        script(type='application/javascript' src='/js/moment.min.js')
        script(type='application/javascript' src='/js/bootstrap.bundle.min.js')
        script(type='application/javascript' src='/js/bootstrap-datetimepicker.min.js')
    body
        div(class='container')
            br
            div(class='row')
                div(class='col-md-2')
                div(class='col-md-8')
                    h1 Upcoming meetups
                    h4=`Location: (${lon}, ${lat}) +${radius} miles`
                    if from || to
                        h4=`From ${from ? from : 'now'} to ${to ? to : 'next month'}`
                        a(class='btn btn-sm btn-warning btn-block' href='/')='Reset filter'
                        br
                    div(class='filter')
                        button(class='btn btn-sm btn-primary btn-block' data-toggle='collapse' data-target='#filter')='Events filter'
                        div(class='collapse' id='filter')
                            div(class='card card-body')
                                form(method='get' class='form-group')
                                    div(class='row')
                                        div(class='col-md-5')
                                            h3='From:'
                                            div(id='picker-from')
                                                input(type='text' class='form-control hidden' name='from' value=`${from}`)
                                        div(class='col-md-2')
                                        div(class='col-md-5')
                                            h3='To:'
                                            div(id='picker-to')
                                                input(type='text' class='form-control hidden' name='to' value=`${to}`)

                                    script(type='application/javascript')="$(function () { $('#picker-from').datetimepicker({inline: true, sideBySide: true, format: 'YYYY-MM-DDTHH:MM:ss' }) });"
                                    script(type='application/javascript')="$(function () { $('#picker-to').datetimepicker({inline: true, sideBySide: true, format: 'YYYY-MM-DDTHH:MM:ss' }) });"

                                    button(type='submit' class='btn btn-bg btn-primary btn-block')='Apply filter'

                    hr
                    ul
                        for item in items
                            li(class='test')
                                h2=item.name
                                    span &nbsp;
                                    a(class='btn btn-small btn-primary' href=item.link role='button') link
                                h3=`${item.local_date} ${item.local_time}`
                                h4=item.full_address
                                p !{item.description}
                div(class='col-md-2')
